.side-nav {

  .side-nav_section {
    .side-nav_section-header {
      padding:          $side-nav_header-padding;
      border-radius:    $side-nav_header-radius;
      background-color: $side-nav_header-bg;
      color:            $side-nav_header-color;
      font-weight:      $side-nav_header-weight;
      font-size:        $side-nav_header-size;
      text-transform:   $side-nav_header-text-transform;
      letter-spacing:   $side-nav_header-letter-spacing;
    }

    .side-nav_section-documents {
      margin: $side-nav_spacing;

      .side-nav_section-documents-link {
        display:          block;
        padding:          $side-nav_link-padding;
        margin-bottom:    $side-nav_link-spacing;
        background-color: $side-nav_link-bg;
        color:            $side-nav_link-color;
        border:           $side-nav_link-border;
        border-left:      $side-nav_link-border-left;
        border-radius:    $side-nav_link-radius;
        font-size:        $side-nav_link-size;
        line-height:      $side-nav_link-line-height;

        &:hover {
          border:           $side-nav_link-border-hover;
          border-left:      $side-nav_link-border-hover;
          color:            $side-nav_link-color-hover;
          background-color: $side-nav_link-bg-hover;
        }
        &.active {
          background-color: $side-nav_link-bg-active;
          border:           $side-nav_link-border-active;
          border-left:      $side-nav_border-left-active;
          color:            $side-nav_link-color-active;

          &:hover {
            background-color: $side-nav_link-bg-active-hover;
            border:           $side-nav_link-border-active-hover;
            border-left:      $side-nav_border-left-active-hover;
            color:            $side-nav_link-color-active-hover;
          }
        }

        &:last-of-type {margin-bottom: 0;}
      }
    }

    .side-nav_section-sub-sections {
      margin-top:  $padding;
      margin-left: $padding;
    }
  }
}