.side-nav {

  .side-nav_section {
    .side-nav_section-header {
      padding:          $global-padding/2;
      border-radius:    $border-radius;
      background-color: $side-nav_header-bg;
      color:            $side-nav_header-color;
      font-weight:      $side-nav_header-weight;
    }

    .side-nav_section-documents {
      margin: $global-padding 0;

      .side-nav_section-documents-link {
        display:          block;
        padding:          0 0 0 $global-padding;
        margin-bottom:    $global-padding/2;
        background-color: $side-nav_link-bg;
        color:            $side-nav_link-color;
        border-left:      $side-nav_link-border;


        &:hover {
          border-left:      $side-nav_link-border-hover;
          background-color: $side-nav_link-bg-hover;
        }

        &:last-of-type {margin-bottom: 0;}
      }
    }

    .side-nav_section-sub-sections {
      margin-top:  $global-padding;
      margin-left: $global-padding;
    }
  }
}