.toc {
  position: sticky;
  position: -webkit-sticky;
  top:      -1px;

  ol.toc_list {
    list-style-type: none;
    width:           100%;
    
    li.toc_list-item {
      $padding: 1em;
      &.h1 {margin-left: 0;}
      &.h2 {margin-left: $padding}
      &.h3 {margin-left: $padding*2;}
      &.h4 {margin-left: $padding*3;}
      &.h5 {margin-left: $padding*4;}
      &.h6 {margin-left: $padding*5;}
    }
  }
}
