
.toc {
  position: sticky;
  position: -webkit-sticky;
  top:      -1px;

  ol.toc_list {
    list-style-type: $toc_list-type;
    width:           100%;
    
    li.toc_list-item {
      padding:          $toc_list-link-padding;
      background-color: $toc_list-link-bg;
      border-radius:    $toc_list-link-radius;

      a {
        color:         $toc_list-link-color;
        font-weight:   $toc_list-link-weight;    
        line-height:   $toc_list-link-line-height;
        font-size:     $toc_list-link-size;
      }

      &:hover {
        background-color: $toc_list-link-bg-hover;
      }

      &.h1 {margin-left: 0;}
      &.h2 {margin-left: $toc_list-link-indent-base;}
      &.h3 {margin-left: $toc_list-link-indent-base*2;}
      &.h4 {margin-left: $toc_list-link-indent-base*3;}
      &.h5 {margin-left: $toc_list-link-indent-base*4;}
      &.h6 {margin-left: $toc_list-link-indent-base*5;}
    }
  }
}
