.top-nav {
  width:            100%;
  background-color: $top-nav_bg;
  border-bottom:    $top-nav_border-bottom;
  margin-bottom:    $top-nav_spacing;

  .top-nav_menu {
    @include flex-grid-row();

    .top-nav_menu-links {
      @include flex-grid-column($columns: 12);

      padding:          $padding 0;

      a {
        color:       $top-nav_link-color;
        font-weight: $top-nav_link-weight;
      }
    }      
  }
}