.top-nav {
  width:            100%;
  background-color: $primary-color;
  margin:           0 0 $global-padding 0;

  .top-nav_menu {
    @include flex-grid-row();

    .top-nav_menu-links {
      @include flex-grid-column($columns: 12);

      padding:          $global-padding 0;

      a {
        color:       white;
        font-weight: bold;
      }
    }      
  }
}