.markdown {
  // ////
  // CODE
  // ////
  .CodeRay {
    .code {
      background:    $md-codeblock_bg;
      padding:       $md-codeblock_padding;
      margin:        $md-codeblock_padding;
      border-radius: $md-codeblock_radius;
    }
  }

  blockquote {
    border-radius: $md-blockquote_radius;
    padding:       $md-blockquote_padding;
    font-weight:   $md-blockquote_weight;
    background:    $md-blockquote_bg;
    border:        $md-blockquote_border;
    border-left:   $md-blockquote_border-left;

    p {
      color: $md-blockquote_color;

      &:first-of-type{margin-bottom: 0;}
    }
  }
}